#qualite {
  padding: 10vh;
  @media screen and (max-width: $break-mobile) {
    padding: 10vh 2vh;
  }
  background-color: $gray-background;
  h3.title {
    color: $blue;
    font-weight: bold;
    text-align: center;
    padding: 2rem ;
    display: block;
    width: 80%;
    margin: auto;
    @media screen and (max-width: $break-mobile) {
      width: 100%;
    }
  }
  .qualite-intro {
    p {
      text-align: center;
      width: 60%;
      display: block;
      margin: auto;
      margin-top: 5vh;
      margin-bottom: 5vh;
      @media screen and (max-width: $break-mobile) {
        width: 100%;
        text-align: left;
      }
    }
  }

  .exemple {
    h3 {
      font-weight: 500;
      font-size: 1.8rem;
      text-transform: inherit;
    }
  }

}