#services {
  background: $gray-background;
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;

  .service-intro{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 8rem;
    text-align: center;
  }
}