////// GENERAL OVERFLOW /////
.page {
  overflow: hidden;
}

/// COLORS ////
$blue: #3498DB;
$dark-blue: #00253E;
$gray-text: #979797;
$gray-background: #F5F5F5;

///// BUTTONS //////
button {
  outline: none;
  padding: 1rem 3rem;
  background-color: $blue;
  border: none;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s linear;
  &:hover, &:focus {
    background-color: darken($blue, 10);
    transform: translateY(2px);
  }
  &.outlined {
    background-color:transparent;
    border: 2px white solid;
    &:hover, &:focus {
      background: white;
      color: black;
    }
  }
  &.underlined {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border-bottom: 2px $blue solid;
    border-radius: 0;
    padding: 0.2rem 0;

    &:hover, &:focus {
      transform: scale(1.1);
    }
  }
}


///// TITLES /////
h2 {
  position: relative;
  letter-spacing: 1.7px;
  font-weight: bold;
  &::after {
    content: '';
    position: absolute;
    border: 2px solid $blue;
    width: 200px;
    transform-origin: left;
    transform:translateY(5rem);
    left:0;
  }
}


////// PARAGRAPHS /////
p {
  color: $gray-text;
  font-family: 'Open Sans';
  line-height: 30px;
  font-weight: 100;
  &.tiny {
    font-size:1.2rem;
    line-height: 20px;
  }
}


/////// ICONS //////
img .svg {
  width: 50px;
  display: block;
  margin: auto;
}

/// DIVIDERS ///
div.tilted-divider {
  margin-top: -8vh;
  margin-left: -2vw;
  height: 16vh;
  width: 110vw;
  background: white;
  transform: rotate(4deg);
}

hr {
  border-top: $blue 1px solid;
  width: 20%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/// COMPONENT
.exemple {
  padding: 1.5rem;
  img{
    max-width: 50px;
    display: block;
    margin: auto;
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color: $blue;
  }
  p {
    text-align: center;
    margin-top: 2rem;
  }
}

///// BREAK POINTS ////
$break-mobile : 800px;
